/* Style the quiz container */
.quiz-container {
  /* Adjust the width as needed */
  margin: 0 auto;
  padding: 20px;
}

/* Style each question container */
.question-container {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Style question text */
.question {
  font-size: 18px;
  font-weight: bold;
}
.option-list {
  color: white;
}

/* Style options list */
.options {
  list-style: none;
  padding: 0;
}

/* Style option list items */
.options li {
  margin: 10px 0;
  color: white;
}

/* Style radio buttons */
.options input[type='radio'] {
  margin-right: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #333;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #333;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}
.reset {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.text-center {
  color: white;
}
