.log-out {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.card1 {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
  color: #333;
}

.card-button {
  background-color: #5a95ad;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.card-button:hover {
  background-color: #4c8497;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  padding: 30px 20px;
  border-radius: 8px;
  text-align: center;
}
